#what .items .item {
  display: flex;
}

#what .items .item div:first-child {
  margin-right: 1rem;
  align-self: center;
}

#what .items .item i {
  margin-bottom: 0;
}

#what .items .item div:nth-child(2),
#what .items .item div:nth-child(2) h3 {
  text-align: left;
}

#contact .map {
  flex: 2;
}
